@font-face {
    font-family: 'Terranova One NF';
    src: url('assets/fonts/TerranovaOneNF.woff2') format('woff2'),
        url('assets/fonts/TerranovaOneNF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

